.title {
    font-size: 80px;
    font-weight: 800;
    line-height: 1;
}

.title_line {
    &::after {
        content: '';
        position: absolute;
        right: 0;
        top: -8px;
        width: 80px;
        height: 1px;
        background-color: #4AF6CD;
    }
}

.subheader {
    font-size: 40px;
    font-weight: 800;
    line-height: 1;
    span {
        font-weight: 300;
        color: rgba(255, 255, 255, .5);
    }
}

.subtitle {
    color: rgba(255, 255, 255, .5);
    font-size: 22px;
    font-weight: 400;
    letter-spacing: 7px;
    position: relative;
    display: inline-block;
    &_left {
        padding-left: 104px;
        &::before {
            content: '';
            width: 80px;
            height: 1px;
            background-color: rgba(255, 255, 255, .5);
            position: absolute;
            left: 0;
            top: 50%;
        }
    }    
}

.echo {
    font-weight: 800;
    font-size: 200px;
    line-height: .78;
    color: #FFFFFF;
    mix-blend-mode: normal;
    opacity: 0.07;
}